@using RazorViews.Models
@model IEnumerable<Person> //Collection of person   //Represents a collection (list) of Person objects.
@* //@model Person:-Represents a single instance of the Person object.

@* @{
    string? appTitle = "Asp.Net Demo App";
    Person person = new Person()
            {
                PersonName = "Saurab Rajbanshi",
                DateOfBirth = Convert.ToDateTime("2003-09-04"),
                PersonGender = Gender.Male
            };
}
<!DOCTYPE html>
<html>
<head>
    <title>@appTitle</title>
</head>
<body>
    <h1>Welcome @person.PersonName</h1>
    @if(person.DateOfBirth.HasValue){
        double age = Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays / 365.25);
        <h3>You are @age years old</h3>
        <p>Getting older day by day 💪😁</p>
    }
    else{
        <h3>Date of birth is unknown \n Maybe you are young☺️</h3>
    }

    @switch (person.PersonGender){
        case Gender.Male:
            <p>Hello sir</p>
            ;
            break;

        case Gender.Female:
            <p>Hello ma'am</p>
            ;
            break;
    } 
    </body>
</html> *@

@{
    string? title = "Asp.Net demo app";
    //dynamic html content example (using html.raw concept)
    string dynamicContent = "<strong>Welcome to the Asp.net demo app!</strong><br><em>Enjoy your stay 😊</em>";
    //Dynamic (no need for casting) if we use viewbag
    //List<Person>? person = (List<Person>?)ViewData["person"];
}
@{
    //method
    double? GetAge(DateTime? dob)
    {
        if(dob != null){
            double age = Math.Round((DateTime.Now - dob.Value).TotalDays / 365.25);
            return age;
        }
        else{
            return null;
        }

    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        </head>
    <body>
        <div>
            @Html.Raw(dynamicContent); @*rendering dynamic html content*@
        </div>
        @*  @foreach(var people in person){
                <div>
                    @people.PersonName
                    <span>,</span>
                    <span>@people.PersonGender</span>
                    @if(people.DateOfBirth != null){
                        <span>@people.DateOfBirth.Value.ToString("MM-dd-yyyy")</span>
                    }
                </div>
            } *@
            @foreach(Person person1 in Model){
        <div>
            @person1.PersonName
            <span>,</span>
            <span>@person1.PersonGender</span>
            @if (person1.DateOfBirth != null)
            {
                @*                         <span>@person1.DateOfBirth.Value.ToString("MM-dd-yyyy")</span>
 *@                 <h3>You are @GetAge(person1.DateOfBirth) years old</h3>
                @Html.Raw("<p>💪 Keep going</p>")  @* Render emoji with raw HTML *@
            }
            <div>
                <a href="/person-details/@person1.PersonName">Details</a>
            </div>
        </div>
            }
    </body>
</html>